<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Add Product</title>
</head>
<body>
    <h1>Add a product here</h1>
    <form action="#" th:action="@{/addproduct}" th:object="${product}" method="post">
        <p>Code: <input type="text" th:field="*{code}" /> </p>
        <p>Description: <input type="text" th:field="*{descr}" /> </p>
        <p>Price: <input type="text" th:field="*{price}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /> </p>
    </form>
</body>
</html>